- breadcrumb :sign_up
.wrapper
  = breadcrumbs pretext: "",separator: " &rsaquo; "
  .content
    %h2.title Sign up
    
    .form
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
    
        .field
          = f.label :nickname, class: "label"
          %span.essential 必須
          %br 
          = f.text_field :nickname, autofocus: true, placeholder: "例)フリマ太郎", requierd: true

        .field
          = f.label :email, class: "label"
          %span.essential 必須
          %br 
          = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらも可", requierd: true
  
        .field
          = f.label :password, class: "label"
          %span.essential 必須
          %br  
          = f.password_field :password, autocomplete: "new-password", placeholder: "６文字以上の半角英数字", requierd: true

        .field
          = f.label :password_confirmation, class: "label"
          %span.essential 必須
          %br 
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再入力", requierd: true

        .actions
          = f.submit "次へ進む", class:"submit"

  