.wrapper
  %h2 Log in
  .form
    = form_for(@user, url: user_session_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      .field
        = f.label :nickname
        %br
        = f.text_field :nickname
  
      .field
        = f.label :email
        %br
        = f.email_field :email, autofocus: true, autocomplete: "email"

      .field
        = f.label :password
        %br
        = f.password_field :password, autocomplete: "current-password"


      .actions
        = f.submit "Log in"

= render "devise/shared/links"
