- breadcrumb :log_in
.wrapper
  = breadcrumbs pretext: "",separator: " &rsaquo; "
  .content
    %h2.title Log in
    .form
      = form_for(@user, url: user_session_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .field
          = f.label :nickname, class: "label"
          %span.essential 必須
          %br
          = f.text_field :nickname, placeholder: "例)フリマ太郎"
  
        .field
          = f.label :email, class: "label"
          %span.essential 必須
          %br
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらも可"

        .field
          = f.label :password, class: "label"
          %span.essential 必須
          %br
          = f.password_field :password, autocomplete: "current-password", placeholder: "６文字以上の半角英数字"


        .actions
          = f.submit "ログイン", class:"submit"
