.seller_wrapper
  .header
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50)
  .seller_content
    %h2.sell-title
      商品情報を入力
    .seller_form
      = form_for(@item, html: { class: "seller_form_content"}) do |f|
        .sell_image
          = f.label :出品画像, {class: "font-weight-bold"}
          %span.indispensable 必須
          %br
          %p 最大10枚までアップロード
          %br
        #image-box-1{class:"#{@images.last.id}"}
          - @images.each do |img|
            .item-image{id:img.id}
              = image_tag(img.image.url,{width:"100",height:"100"})
              .item-image__operetion
                .item-image__operetion--edit__delete__hidden 削除
          %label.img-label{for: "img-file"}
            #image-box__container{class:"item-num-#{@images.length}"}
              #append-js-edit
                = f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :image, type: 'file', value:"#{image.object.id}",style: "",  id:"img-file", class:'js-file-edit',name: "item[images_attributes][#{@item.images.count}][image]", data:{index:""}
              %i.fas.fa-camera
          -# .sell_image_area

          -# -# imageを表示させる
          -# -# %ul.image_list
          -# -#   - @item.images.each do |image|
          -# -#     %li
          -# -#       = image_tag image.image.url, size: "60x60" , class: "new-img"
          -# %label{class: "sell_image_label", for:"1"}
          -#   =icon("fa", "camera")

          -# =f.fields_for :images, class: "sell_image_form" do |img|

          -#   =img.file_field :image, class: "sell_image_content", id: "1", required: true


        
        .sell_items
          =f.label :item_name, "商品名",  {class: "font-weight-bold"}
          %span.indispensable 必須
          %br

          = f.text_field :item_name, placeholder: "商品名(必須 40文字まで)", required: true, class: "item-text"


        .sell_description
          =f.label :item_description, "商品の説明",  {class: "font-weight-bold"}
          %span.indispensable 必須
          %br 

          =f.text_area :item_description, placeholder: "商品の説明(必須 1,000文字まで)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", required: true, class: "description"
        
        .sell_detail
          %p.item_show 商品の詳細
          .sell_category
            =f.label :item_description, "商品のカテゴリー",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            = f.collection_select :category_id, Category.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box"}
          .sell_status
            =f.label :item_description, "商品の状態",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :status_id, Status.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box"}

        

        .sell_brand
          =f.label :brand_description, "ブランド",  {class: "font-weight-bold"}
          %span.free 任意
          %br 
          =f.text_field :brand_description, placeholder: "例)シャネル",  class: "brand-text"

        
        .sell_delivery
          %p.delivery_detail 配送について
          .delivery_routes
            =f.label :fee, "配送料の負担",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :fee_id, Fee.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box"}
          .delivery_routes
            =f.label :region, "発送元の地域",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box"}
          .delivery_routes
            =f.label :span, "発送までの日数",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :span_id, Span.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box"}
        .item_price
          .price_content
            .item_price-group
              %span
                価格
              %span.indispensable
                必須 
            = f.number_field :item_price, placeholder: "例) 300", class: 'price_form-box' do
              %span.sell-yen
                ¥
          .price_content
            販売手数料(10%)
            .right_bar

          .price_content
            販売利益
            .right_bar_2
        
        .caution
          %p.sentense
            %a{href: '#', class: "underline"} 禁止されている出品、行為
            を必ずご確認ください
          %p.sentense
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            %a{href: '#', class: "underline"} 偽ブランドの販売
            は犯罪であり処罰される可能性があります。
          %p.sentense
            また、出品をもちまして 
            %a{href: '#', class: "underline"} 加盟店規約
            に同意したことになります。
        
        
        .sell_submit_area
          =f.submit "出品する", class: "sell_submit"
          %a{href: '/', class: "return_btn"} もどる
  .footer
    %ul.menu
      %li
        %a{href: '#'} プライバシーポリシー
      %li
        %a{href: '#'} フリマ利用規約
      %li
        %a{href: '#'} 特定商取引に関する表記
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50)
    %p.inc 
      ©︎Furima,Inc.
