.seller_wrapper
  .header
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50), root_path
  .seller_content
    %h2.sell-title
      商品情報を入力
    .seller_form
      = form_for(@item, html: { class: "seller_form_content"}) do |f|
        .sell_image
          = f.label :出品画像, {class: "font-weight-bold"}
          %span.indispensable 必須
          %br
          %p 最大10枚までアップロード
          %br
          
          .sell_image_area
            -@item.images.each_with_index do |image, index|
              - if image.persisted?
                .sell_image_content
                  =image_tag image.image.url, style: "width:100px; height: 100px", class:"sell_preview_image", data: {id: "#{index}"}
                  %label{class:"image-edit" ,for: "edit_#{index}"}
                    %span.sell_image_edit 編集
                  %span.sell_image_delete 削除
            
          %label{class: "sell_image_label", for:"#{@item.images.length}"}
            =icon("fa", "camera")
          
          
          =f.fields_for :images, class: "sell_image_form" do |img|
            =img.file_field :image, class: "edit_image_content", id: "edit_#{img.index}", data:{index: "#{img.index}"}
            -if img.object.persisted?
              =img.check_box :_destroy, data:{ delete: img.index }, class: 'hidden-destroy'

          -# %input.sell_image_content{name: "item[images_attributes][#{@item.images.length}][image]", type: "file", id: "#{@item.images.length}", data:{index: "#{@item.images.length}"}}
          
       
       
       
        .sell_items
          =f.label :item_name, "商品名",  {class: "font-weight-bold"}
          %span.indispensable 必須
          %br

          = f.text_field :item_name, placeholder: "商品名(必須 40文字まで)", required: true, class: "item-text"


        .sell_description
          =f.label :item_description, "商品の説明",  {class: "font-weight-bold"}
          %span.indispensable 必須
          %br 

          =f.text_area :item_description, placeholder: "商品の説明(必須 1,000文字まで)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", required: true, class: "description"
        
        .sell_detail
          %p.item_show 商品の詳細
          .sell_category
            =f.label :item_description, "商品のカテゴリー",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {selected: "#{@item.category.root.id}"}, {class: "select-box parent_category select_category", required: true}
            = f.collection_select :category_id, Category.where(ancestry: @item.category.parent.ancestry), :id, :name, {selected: "#{@item.category.parent.id}"}, {class: "select-box child_select", required: true}
            = f.collection_select :category_id, Category.where(ancestry: @item.category.ancestry), :id, :name, {selected: "#{@item.category.id}"}, {class: "select-box grandchild_select", required: true}


        .sell_detail
          .sell_status
            =f.label :item_description, "商品の状態",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :status_id, Status.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box", required: true}

        

        .sell_brand
          =f.label :brand_description, "ブランド",  {class: "font-weight-bold"}
          %span.free 任意
          %br 
          =f.text_field :brand_description, placeholder: "例)シャネル",  class: "brand-text"

        
        .sell_delivery
          %p.delivery_detail 配送について
          .delivery_routes
            =f.label :fee, "配送料の負担",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :fee_id, Fee.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box", required: true}
          .delivery_routes
            =f.label :region, "発送元の地域",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box", required: true}
          .delivery_routes
            =f.label :span, "発送までの日数",  {class: "font-weight-bold"}
            %span.indispensable 必須
            %br
            =f.collection_select :span_id, Span.all, :id, :name, {prompt: "選択して下さい"}, {class: "select-box", required: true}
        .item_price
          .price_content
            .item_price-group
              %span
                価格
              %span.indispensable
                必須 
            = f.number_field :item_price, placeholder: "例) 300", class: 'price_form-box', required: true do
              %span.sell-yen
                ¥
          .price_content
            販売手数料(10%)
            .right_bar

          .price_content
            販売利益
            .right_bar_2
        
        .caution
          %p.sentense
            =link_to "禁止されている出品、行為","#", class: "underline"
            を必ずご確認ください
          %p.sentense
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売","#", class: "underline"
            は犯罪であり処罰される可能性があります。
          %p.sentense
            また、出品をもちまして 
            =link_to "加盟店規約","#", class: "underline"
            に同意したことになります。
        
        .sell_submit_area
          =f.submit "出品する", class: "sell_submit"
          =link_to 'もどる',"/", class: "return_btn"
          
  .footer
    %ul.menu
      %li
        = link_to 'プライバシーポリシー',"#"
      %li
        = link_to 'フリマ利用規約',"#"
      %li
        = link_to '特定商取引に関する表記',"#"
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50)
    %p.inc 
      ©︎Furima,Inc.
