.buy_wrapper
  .header
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50)
  .buy-area
    .buy-content
      %h2.buy-content__title
        購入内容の確認
      .buy-content__item
        .buy-item-image
          = image_tag "#{@item.images[0].image.url}", size: '100x100'
        .buy-item-detail
          .buy-item-detail__name
            = @item.item_name
          %p.buy-price
            = "¥#{@item.item_price.to_s}"
            %span.shipping-free (税込) 送料込み
      .buy-content__payment
        .buy-content__payment__left
          支払金額
        %p.buy-content__payment__right
          = "¥#{@item.item_price.to_s}"
      .buy-content__user-info
        .buy-content__user-info__inner
          %h3 支払方法
          .user-info-text
            -# - if @default_card_information.blank?
            -#   %br /
            -# - else
            -#   = "**** **** **** " + "#{@default_card_information.last4}"
            -# %br
            -# %br
          .number
            = "**** **** **** " + @customer_card.last4
          .expiration_date
            .expiration_date__title
              有効期限
            .expiration_date__info
              = @exp_month + " / " + @exp_year
        .update
          = link_to "変更する", "#", calss:"update-btn"

      .buy-content__user-address
        .buy-content__user-address__inner              
          %h3 配送先
          .user-address-text
            〒111-1111
            %br
            大阪府大阪市北区〇〇1-11
            %br
            山田太郎
        .address-update
          = link_to "変更する","#", calss:"update-btn"
      .buy-content__btn
        = form_tag(action: :pay, method: :post) do
          %button.buy-button{type:"submit"} 購入する
  .footer
    %ul.menu
      %li
        = link_to 'プライバシーポリシー',"#"
      %li
        = link_to 'フリマ利用規約',"#"
      %li
        = link_to '特定商取引に関する表記',"#"
    = link_to image_tag(src= "logo/logo.png", class: "top-image", width: 185, height: 50)
    %p.inc 
      ©︎Furima,Inc.